* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
}

/* nav {
    display: flex; 
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 37px;
}
.nav-link {
    color: #828282;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    transition: all 0.5s;
}
.nav-link:hover {
    color: black;
}


 */

.home {
    margin-top: 37px;
    margin-bottom: 120px;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.home-text h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    transition: all 0.5s;
}
.home-text h1:hover {
  color: #606485;
}
h3 {
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

    transition: all 0.49s;
}
h3:hover {
  color: #969abe;
}
.home img {
    max-width: 600px;
    clip-path: polygon(45% 0, 90% 41%, 50% 94%, 0 53%);
    cursor: pointer;
    transition: all 1s;
}
.home img:hover {
    cursor: pointer;
    transform: scale(1.099);
}





.about {
    margin-top: 130px;
    max-width: 1540px;
    height: 570px;
    background-color: #f6f8fc;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;
}
.about h1 {
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 50px;
    text-align: center;

    transition: all 0.5s;
}
.about h1:hover{
  color: #606485;

}
.about p {
    color: #000000 ;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: all 0.35s;
}
.about p:hover {
  color: #7e7e7e;
}
.about img {
    --s: 15px;  /* size of the frame */
    --b: 2px;   /* border thickness */
    --w: 200px; /* width of the image */
    --c: #7B3B3B;
    margin: 0 auto;
    width: var(--w);
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
    background:
      linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
      linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
    outline: calc(var(--w)/2) solid rgba(97, 96, 96, 0.011);
    outline-offset: calc(var(--w)/-2 - 2*var(--s));
    transition: .4s;
    cursor: pointer;
  }
 .about img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
    --_i: calc(100% - 2*var(--s));
    transform: scale(1.2);
  }
  
  /* body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    align-items: center;
    grid-auto-flow: column;
    gap: 20px;
    background: #e8e8e8;
  } */



.skills {
    max-width: 1540px;
    height: 510px;
    margin-top: 170px;
}
.skills h1 {
    color: #000000;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;

    transition: all 0.5s;
}
.skills h1:hover {
  color: #606485;
}
.skills .skills-subtitle {
    color: #606485;
    /* color: #7e7e7e; */
    font-size: 28px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-align: center;
    margin-top: 20px;

    transition: all 0.5s;
}
.skills .skills-subtitle:hover {
  color: #969abe;
}
.skills-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    margin-top: 90px;
}
.skills-box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.skills-box-item p {
    color: #828282;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

    transition: all 0.35s;
}
.skills-box-item p:hover {
  color: #404040;
}
.skills-box-item .logo {
    max-width: 190px;
    width: 100%;
    margin: 0 auto;
    clip-path: circle(39.2% at 45% 44%);

    transition: all 0.8s;
}
.skills-box-item .logo:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.contacts {
    max-width: 1540px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}
/* .contacts p {
    color: #aaaaaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 30px;
} */
.contacts h1 {
    color: #000000;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;

    transition: all 0.5s;
}
.contacts h1:hover {
  color: #606485;
}
.contacts h2 {
    color: #000000;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 20px;

    transition: all 0.35s;
}
.contacts h2:hover {
  color: #1b206b;
}
.contacts .contacts-rating {
    color: #515151;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

    transition: all 0.5s;
}
.contacts .contacts-rating:hover {
  color: #738b94;
}
.contacts__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



  .contacts .button {
    text-align: center;
  }


  .button {
    max-width: 400px;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    /* color: #2c9caf; */
    color: #1f2687;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    /* outline: 2px solid #2c9caf; */
    outline: 2px solid  #535ab3;
    transform: scale(1.1);
  }
  
  .button:hover {
    color: #ffffff;
    transform: scale(1.1);
    /* outline: 2px solid #70bdca; */
    outline: 2px solid  #5f64a9d8;
    /* box-shadow: 4px 5px 17px -4px #268391; */
    box-shadow: 4px 5px 17px -4px  #1f2687;
  }
  
  .button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    /* background-color: #2c9caf; */
    background-color:  #1f2687;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button:hover::before {
    width: 250%;
  }
  


  .rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    margin: 0 auto;
    margin-top: 10px;
    --stroke: #666;
    --fill: #fed15f;
  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  
  









@media (max-width: 800px ) {
    .about p {
        font-size: 25px;
    }
    .skills-box-item p {
        font-size: 20px;
    }
    .skills-box {
        gap: 90px;
    }
    .contacts {
        margin-top: 30px;
    }
}
@media (max-width: 600px) {
   .skills-box {
    gap: 30px;
   }
   .about p {
    font-size: 17px;
   }
   .home img {
    max-width: 460px;
   }
   .contacts {
    margin-top: 5px;
   }
}
@media (max-width:460px ) {
   .home img {
    max-width: 360px;
   }
   .skills-box {
    gap: 10px;
    margin-top: 20px;
   }
   .skills-box-item img{
    max-width: 100px;
   }
}
@media (max-width: 390px ) {
    .button {
        max-width: 230px;
    }
    .home {
        margin-bottom: 0px;
    }
    .about {
        margin-top: 30px;
    }
}
@media (max-width: 360px) {
   .home img {
    max-width: 300px;
   }
}